@model IEnumerable<ProjetoContatos.Dom.Models.Agenda>

@{
    ViewBag.Title = "Agenda";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="page-header">Contatos</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Consulta
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.NomePessoa)</th>
                                        <th>@Html.DisplayNameFor(model => model.NomeContato)</th>
                                        <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Valor)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomePessoa)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomeContato)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tipo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Valor)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "EditarContato", new { id = item.IdContato })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <p>
            @Html.ActionLink("Novo Contato", "CadastrarContato")
        </p>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
